* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

.conteiner {
    width: 1440px;
    margin: 0 auto;

}

.header {
    display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px; 
}
.logo{
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo-text{
   color: red;
   font-size: 24px;
}
.ul{
    display: flex;
    align-items: center;
    
    gap: 128px;
}
.li1{
    font-size: 14px;
    color: red;

}
.li:hover{
    transition: 0.45s ease ;
    font-size: 20px;
}
.li{
    font-family: "Open Sans";
    font-size: 14px;
    color: rgb(34, 34, 34);
}
.button{
    box-sizing: border-box;
border: 2px solid rgb(222, 46, 84);
border-radius: 8px;
background: rgb(255, 255, 255);
color: rgb(222, 46, 84);
font-family: "Open Sans Condensed";
font-size: 15px;
width:  189px;
display: flex;
align-items: center;
justify-content: center;
height: 46px;

}
.all-img{
 position: relative;


}
.img-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.all-img2{
    position: absolute;
    display: flex;
    justify-content: space-between;
    gap: 200px;
}
.h2{
    color: rgb(255, 255, 255);
font-family: "Open Sans Condensed";
font-size: 36px;
width: 500px;
}
.button-img{
    width: 189px;
height: 46px;
background: rgba(222, 46, 84, 0.8);
color: rgb(255, 255, 255);
font-family: "Open Sans Condensed";
font-size: 15px;
border-radius: 8px;

}
.text-img{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 100px;
}
.h3{
    color: rgb(34, 34, 34);
font-family: "Open Sans Condensed";
font-size: 24px;
}
.p-text{
    width: 600px;
    font-family: "Open Sans";
font-size: 16px;
}

.div-text1{
    display: flex;
    gap: 30px;
    align-items: center;

}
.text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.div-text2{
    display: flex;
    gap: 30px;
    align-items: center;
}
.div-text{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 287px;
    padding: 0 0 200px;
}
.h4{
    color: rgb(0, 0, 0);
font-family: "Open Sans Condensed";
font-size: 36px;
text-align: center;
padding: 30px;
right: 50px;
}
.h5{
    color: rgb(0, 0, 0);
font-family: "Inter";
text-align: center;
font-size: 64px;
padding: 30px;
}
.section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}
.div-input{
    width: 540px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    background-color: white;
    border-radius: 5px;
    padding: 50px;
}
.input{
    box-sizing: border-box;
border: 1px solid rgb(222, 222, 222);
border-radius: 5px;
background: rgb(255, 255, 255);
width: 460px;
height: 39.11px;
}
.input-img{
    width: 413px;
}
.button-input{
    border-radius: 5px;
box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.09);
background: rgb(56, 204, 139);
width: 460px;
height: 39.11px;
}
.conteiner2{
    width: 1440px;
    margin: 0 auto;
    background-color: aqua;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 197px ;
}
.conteiner4{
    width: 1440px;
    margin: 0 auto;
    background-color: black;
    
}
.li2{
    font-family: "Open Sans";
    font-size: 14px;
    color: white;

}
.li2:hover{
    transition: 0.25s ease ;
    font-size: 20px;
}